{% extends 'base_list.html' %}
{% load static %}


{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block actions %}
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'hospital:create_doc' %}" class="btn btn-primary my-1">Добавить врача</a>
        <a href="{% url 'hospital:export_doctors' %}" class="btn btn-success mx-2 my-1">Выгрузить данные</a>
    </div>
{% endblock %}

{% block ths %}
    <th scope="col">ФИО</th>
    <th scope="col">Специальность</th>
    <th scope="col">Номер телефона</th>
    <th scope="col">E-mail</th>
    <th scope="col">Адрес</th>
    <th scope="col">Действия</th>
{% endblock %}

{% block trs %}
    {% for doctor in object_list %}
        <tr>
            <td class="align-middle">{{ doctor.full_name }}</td>
            <td class="align-middle">{{ doctor.get_specialty }}</td>
            <td class="align-middle">{{ doctor.phone_number }}</td>
            <td class="align-middle">{{ doctor.email }}</td>
            <td class="align-middle">{{ doctor.address }}</td>
            <td class="align-middle">
                <a href="{% url 'hospital:update_doc' doctor.pk %}" class="btn btn-success">
                    <i class="fa-solid fa-edit"></i>
                </a>
                <a href="{% url 'hospital:delete_doc' doctor.pk %}" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}