{% extends 'base_list.html' %}
{% load static %}


{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block actions %}
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'hospital:export_bill_payments' %}" class="btn btn-success mx-2 my-1">Выгрузить данные</a>
    </div>
{% endblock %}

{% block ths %}
    <th scope="col">Сумма</th>
    <th scope="col">Дата отправки</th>
    <th scope="col">Общая сумма платежей</th>
    <th scope="col">Остаток</th>
{% endblock %}

{% block trs %}
    {% for bill_payment in bill_payments %}
        <tr>
            <td class="align-middle">{{ bill_payment.amount }} руб.</td>
            <td class="align-middle">{{ bill_payment.date_sent }}</td>
            <td class="align-middle">{{ bill_payment.total_payment }} руб.</td>
            <td class="align-middle">{% if bill_payment.balance > 0 %}
                {{ bill_payment.balance }} руб.
            {% else %}
                Оплачено
            {% endif %}</td>
        </tr>
    {% endfor %}
{% endblock %}