{% extends 'base_add.html' %}


{% block content %}
    <div class="container">
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">
                {{ form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form method="POST" id="appForm" data-doctors-url="{% url 'hospital:ajax_load_doctors' %}"
              data-talons-url="{% url 'hospital:ajax_load_talons' %}" novalidate>
            {% csrf_token %}
            <div class="row justify-content-center mb-3">
                <div class="col-md-4">
                    <label class="form-label">Пациент</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-person"></i>
                        </span>
                        {{ form.patient }}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Специальность</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-stethoscope"></i>
                        </span>
                        {{ form.specialty }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-md-4">
                    <label class="form-label">Врач</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-stethoscope"></i>
                        </span>
                        {{ form.doctor }}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Талон</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-clock"></i>
                        </span>
                        {{ form.talon }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Изменить встречу</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: $("#appForm").attr("data-doctors-url"),
                data: {
                    'specialty': $("#id_specialty").val()
                },
                success: function (data) {
                    $("#id_doctor").html(data);
                }
            });

        })

        $("#id_doctor").change(function () {
            var url = $("#appForm").attr("data-talons-url");
            var docId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'doctor': docId
                },
                success: function (data) {
                    $("#id_talon").html(data);
                }
            });
        });
        {% comment %}$("#id_specialty").change(function () {
            var url = $("#appForm").attr("data-doctors-url");
            var specialtyId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'specialty': specialtyId
                },
                success: function (data) {
                    $("#id_doctor").html(data);
                }
            });

        });
        {% endcomment %}
    </script>
{% endblock %}
