<div class="header bg-light">
    <div class="container">
        <header class="p-3 text-white">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <ul class="nav nav-pills">
                        <li>
                            <a href="{% url 'hospital:doctors' %}"
                               class="nav-link px-2 {% if request.path == '/doctors/' %}text-black{% else %}text-secondary{% endif %} fs-18">
                                Врачи
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'hospital:patients' %}"
                               class="nav-link px-2 {% if request.path == '/patients/' %}text-black{% else %}text-secondary{% endif %} fs-18">
                                Пациенты
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'hospital:ins_companies' %}"
                               class="nav-link px-2 {% if request.path == '/insurance-companies/' %}text-black{% else %}text-secondary{% endif %} fs-18">
                                Страховые компании
                            </a>
                        </li>
                        <li><a href="#" class="nav-link px-2 text-secondary fs-18">FAQs</a></li>
                        <li><a href="#" class="nav-link px-2 text-secondary fs-18">About</a></li>
                    </ul>
                </div>

            </div>
        </header>
    </div>
</div>
