{% extends 'base_add.html' %}


{% block content %}
    <div class="container">
        <div class="text-center my-3">
            <h2>Шаг 1</h2>
            <p>Выбор специальности</p>
        </div>
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">
                {{ form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form action="{% url 'hospital:select_spec' %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center mb-3">
                <div class="col-md-6">
                    <label class="form-label" for="{{ form.specialty.id_for_label }}">Специальность</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-stethoscope"></i>
                        </span>
                        {{ form.specialty }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-block col-12">Далее</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
